.block {
  display: block;
  vertical-align: middle;
  margin:10px;
} 
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

/*Tabs*/

div.tabs {
  min-height: 260px;		/* No height: can grow if :target doesn't work */
  position: relative;		/* Establish a containing block */
  line-height: 1;		/* Easier to calculate with */
  z-index: 0}			/* So that we can put other things behind */
div.tabs > div {
  display: inline}		/* We want the buttons all on one line */
div.tabs > div > a {
  color: black;			/* Looks more like a button than a link */
  background: #e1e1e1;		/* Active tabs are light gray */
  padding: 0.2em;		/* Some breathing space */
  border: 0.1em outset #BBB;	/* Make it look like a button */
  border-bottom: 0.1em solid #CCC;
  text-decoration: none;} /* Visually connect tab and tab body */
div.tabs > div:not(:target) > a {
  border-bottom: none;		/* Make the bottom border disappear */
  background: #fff;
  text-decoration: none;}		/* Inactive tabs are dark gray */
div.tabs > div:target > a,	/* Apply to the targeted item or... */
:target #default2 > a {		/* ... to the default item */
  border-bottom: 0.1em solid #CCC; /* Visually connect tab and tab body */
  background: #CCC}		/* Active tab is light gray */
div.tabs > div > div {
  background: #e1e1e1;		/* Light gray */
  z-index: -2;			/* Behind, because the borders overlap */
  left: 0; top: 1.2em;		/* The top needs some calculation... */
  bottom: 0; right: 0;		/* Other sides flush with containing block */
  overflow: auto;		/* Scroll bar if needed */
  padding: 0.3em;		/* Looks better */
  border: 0.1em outset #BBB}	/* 3D look */
div.tabs > div:not(:target) > div { /* Protect CSS1 & CSS2 browsers */
  position: absolute }		/* All these DIVs overlap */
div.tabs > div:target > div, :target #default2 > div {
  position: absolute;		/* All these DIVs overlap */
  z-index: -1}			/* Raise it above the others */

div.tabs :target {
  outline: none}
 
.tabOuter{
  width: 100%;
  Height:700px;
  float: left;
}

#tabs{
  width: 98%;
  Height:700px;
  float: left;
  padding: 5px 5px;
  margin: 5px 0px 5px 0px;
}
#tabMiddle{
	text-align: center;
}
.inLeft {
	text-align: left;
}
#tabBottom{
	
}
 
#outer{
  width: 100%;
  Height: 680px;
  margin: 3.5px 0px 5px 0px;
}
.wrap {
  overflow: auto;
  white-space:nowrap;
}

.wrap li {
  margin:0 10px;
  display:inline;
}

#middleTopTabs {
  width: 100%;
  Height: 100px;
}

#AllDataTable{
  width: 95%;
  Height: 350px;
  border-style: solid;
  border-width: 2px;
  margin-left:20px;
}
#sumDataTable{
  width: 95%;
  Height: 150px;
  border-style: solid;
  border-width: 2px;
  margin-left:20px;
}
#graph{
  width: 95%;
  Height: 500px;
  border-style: solid;
  border-width: 2px;
  margin-left:20px;
  margin-top:160px;
}
#tabName{
  width: 30%;
  Height: 100px;
  float:left;
  margin-left: 20%;
  margin-top: 10px;
  padding-top: 10px;
}
#rdoBtns{
  width: 30%;
  Height: 100px;
  float:right;

  margin-left: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
#calender{
  width: 95%;
  Height: 500px;
  border-style: solid;
  border-width: 2px;
  margin-left:20px;
  margin-top:110px;
}
